body {

	background:url(../img/3.jpg);
	color: white;
	font-family: Verdana, Comic Sans MS;
}

p{

	text-align:justify;
	resize: none;
}

.primer{
	height: 75px;
	background:url(../img/1.jpg);
	position: relative;
	left: 100;

}

.index{
	position: absolute;
	top: 20;
	left: 1000;
	background: #610B21;
	width: 100px;
	height: 25px;

	text-align: center;
	text-decoration: none;


	margin: 10px,10px,10px,10px;
  	border: #0A2A29 4px solid;
  	border-radius: 8px;



}
a:visited{
	color: white;

}

.block1{

	position: absolute;
	top: 115;
	left: 100;
	background: #070719;
	width: 800px;
	height: 310px

	margin: 10px,10px,10px,10px;
  	border: #0A2A29 4px solid;
  	border-radius: 8px;
}

.block2{
	position: absolute;
	top: 450;
	left: 100;
	background: #070719;
	width: 800px;
	height: 430px;

	margin: 10px,10px,10px,10px;
  	border: #0A2A29 4px solid;
  	border-radius: 8px;
}

.block3{

	position: absolute;
	top: 900;
	left: 100;
	background: #070719;
	width: 800px;
	height: 235px;

	margin: 10px,10px,10px,10px;
  	border: #0A2A29 4px solid;
  	border-radius: 8px;
}

.libro{
	position: absolute;
	top: 485;
	left: 1000;
	width: 250px;
	
	padding: 10px;
	border: 1px solid #000;
}

.peli{
	position: absolute;
	top: 115;
	left: 950;
	width: 350px;
	
	padding: 10px;
	border: 1px solid white;
}